# IDE directories
.idea
.vscode

.claude

# Node.js directories
node_modules

builds/tolgee-data

# Compiled files
dist
build

.envrc

# Tests
coverage

.svelte-kit

*storybook.log
storybook-static

.DS_Store
